.button {
	z-index: 2;

	display: grid;

	width: fit-content;
	min-width: 250px;
	height: fit-content;
	margin: 30px 0;
	padding: 12px 25px;

	cursor: pointer;
	transition-duration: 300ms;
	text-transform: uppercase;

	color: var(--textLight);
	border: none;

	font-size: 16px;
	font-weight: 400;
}

.buttonMain {
	margin: 30px 60px;
	justify-self: right;
}

.button:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.buttonMinimal {
	background: var(--primaryMinimal);

	font-family: var(--fontMinimal1);
}

.buttonRomance {
	background: var(--primaryRomance);

	font-family: var(--fontRomance1);
}

.buttonPhoto {
	background: var(--primaryPhoto);

	font-family: var(--fontPhoto1);
}

.buttonLight {
	color: var(--textDark);
	background: var(--light);
}

@media (min-width: 1024px) {
	.button:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.button {
		min-width: 150px;
		margin: 20px 0;
		padding: 7px 12px;

		font-size: 14px;
	}

	.buttonMain {
		margin: 20px 40px;
	}
}

@media (max-width: 580px) {
	.button {
		margin: 15px 0;

		font-size: 12px;
	}

	.buttonMain {
		margin: 15px 20px;
	}
}
