.getThereBlock {
	display: grid;

	width: 100%;
	justify-items: center;
	gap: 20px;
	margin-top: 20px;
}

.getThereBlock > h1 {
	text-transform: uppercase;

	color: var(--textDark);
}

.getThereMinimal {
	width: calc(100% - 160px);
	justify-items: left;

	background: var(--light);
}

.getThereMinimal > h1 {
	font-family: 'Poiret One', sans-serif;
	font-weight: 600;
}

.howToGetList {
	display: grid;
	gap: 20px;
}
