.dressCodeBlock {
	position: relative;

	display: grid;
	overflow: hidden;

	width: calc(100% - 160px);

	padding: 40px 80px;
	gap: 40px;
	justify-items: left;
}

.dressCodeBlock > h1 {
	z-index: 2;

	color: var(--textLight);
}

.dressCodeMinimal {
	background: var(--primaryMinimal);
}

.dressCodeRomance {
	background: var(--primaryRomance);
}

.dressCodeRomance > .title {
	justify-self: center;
}

.dressCodePhoto {
	background: var(--primaryPhoto);
}

.dressCodeMinimal > h1 {
	font-family: var(--fontMinimal1);
	font-weight: 600;
}

.dressCodeRomance > h1 {
	font-family: var(--fontRomance1);
	font-weight: 600;
}

.dressCodePhoto > h1 {
	font-family: var(--fontPhoto1);
	font-weight: 400;
}

.dressCodeBlock > .dressCodeText {
	text-transform: uppercase;

	font-weight: 400;
}

.dressCodeColorsDiv {
	z-index: 2;

	display: grid;
	gap: 40px;
}

.dressCodeColor {
	width: 150px;
	height: 150px;

	border-radius: 9999px;
}

.dressDescr {
	font-family: var(--fontCommon) !important;
	font-weight: 400 !important;
}

.imageBlock {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;

	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;

	opacity: 0.5;
}

.img {
	width: 100%;
	height: fit-content;
	object-fit: cover;
	object-position: center;

	user-select: none;
}

@media (max-width: 1024px) {
	.dressCodeMinimal {
		width: calc(100% - 120px);
		padding: 30px 60px;
	}

	.dressCodeColorsDiv {
		gap: 30px;
	}

	.dressCodeColor {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 580px) {
	.dressCodeMinimal {
		width: calc(100% - 40px);
		padding: 30px 20px;
	}

	.dressCodeColorsDiv {
		gap: 20px;
	}

	.dressCodeColor {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 300px) {
	.dressCodeColorsDiv {
		gap: 10px;
	}

	.dressCodeColor {
		width: 30px;
		height: 30px;
	}
}
