.getThereItem {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;

	align-items: top;
}

.getThereDiv {
	display: grid;
	gap: 20px;
}

.getThereItemMinimal > .getThereDiv > h1 {
	font-family: var(--fontMinimal1);
	font-weight: 400;
}

.getThereItemRomance > .getThereDiv > h1 {
	font-family: var(--fontRomance1);
	font-weight: 400;
}

.getThereItemPhoto > .getThereDiv > h1 {
	font-family: var(--fontPhoto1);
	font-weight: 300 !important;
}

.title {
	cursor: pointer;
	user-select: none;

	font-weight: 600 !important;
}

.text {
	display: grid;
}

.hidden {
	display: none;
}

.arrow {
	height: 0.001px;
	margin-top: 5px;

	transform-origin: 25% 50%;

	border: 10px solid transparent;
	border-left: 10px solid var(--dark);
}

@media (max-width: 580px) {
	.getThereItem {
		gap: 5px;
	}

	.getThereDiv {
		gap: 10px;
	}

	.arrow {
		border: 5px solid transparent;
		border-left: 5px solid var(--dark);
	}
}
