.getThereBlock {
	display: grid;

	width: 100%;
	width: calc(100% - 160px);
	margin-top: 20px;
	gap: 20px;
}

.getThereBlock > h1 {
	text-transform: uppercase;

	color: var(--textDark);
}

.getThereMinimal > h1 {
	font-family: var(--fontMinimal1);
	font-weight: 600;
}

.getThereRomance > h1 {
	font-family: var(--fontRomance1);
	font-weight: 600;
}

.getTherePhoto > h1 {
	font-family: var(--fontPhoto1);
	font-weight: 400;
}

.howToGetList {
	display: grid;
	gap: 20px;
}
