.questionItem {
	display: grid;
	gap: 20px;
}

.minimalQuestionItem > h1 {
	font-family: 'Poiret One', sans-serif;
	font-weight: 600;
}

.questionText {
	text-transform: uppercase;
}

.answerBlock {
	display: grid;
	grid-template-columns: auto;
	justify-items: left;

	align-items: center;
	gap: 10px;
}

.answerBlock > h1 {
	font-family: var(--fontCommon) !important;
}

.answerBlock > input {
	height: fit-content;
	padding: 2px 5px;

	border-radius: 10px;

	font-family: var(--fontCommon);
}

.inputDiv {
	display: grid;
	grid-template-columns: 20px 1fr;
	gap: 10px;
}

.inputDiv input[type="checkbox"],
.inputDiv input[type="radio"],
.inputDiv label {
	cursor: pointer;
}

.textarea {
	width: 120px;
}
