.agendaItem {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr;
	gap: 40px;
}

.minimalAgendaItem > h1 {
	font-family: 'Michroma', sans-serif !important;
	font-weight: 600 !important;
}

.agendaTextDIv {
	display: grid;
	justify-items: left;

	margin-top: 12px;
}

.title {
	text-transform: uppercase;

	font-family: 'Poiret One', sans-serif;
	font-weight: 600;
}

.description {
	font-family: 'Bad Script', sans-serif !important;
}

@media (max-width: 580px) {
	.agendaItem {
		gap: 20px;
	}
}
