.agendaItem {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr;
	gap: 40px;
	justify-self: left;
}

.minimalAgendaItem > h1 {
	font-family: var(--fontMinimal2) !important;
	font-weight: 600 !important;
}

.romanceAgendaItem > h1 {
	font-family: var(--fontRomance2) !important;
	font-weight: 600 !important;
}

.photoAgendaItem > h1 {
	font-family: var(--fontPhoto2) !important;
	font-weight: 400 !important;
}

.agendaTextDIv {
	display: grid;
	justify-items: left;
}

.minimalAgendaItem > .agendaTextDIv {
	margin-top: 10px;
}

.title {
	text-transform: uppercase;
}

.minimalAgendaItem > .title {
	font-family: var(--fontMinimal1);
	font-weight: 600;
}

.romanceAgendaItem > .title {
	font-family: var(--fontRomance1);
	font-weight: 600;
}

.photoAgendaItem > .title {
	font-family: var(--fontPhotol1);
	font-weight: 400;
}

.description {
	font-family: var(--fontCommon) !important;
}

.itemRight {
	grid-template-areas: "agendaTextDIv .";
	justify-self: right;
}

.itemRight > .agendaTextDIv {
	justify-items: right;
	grid-area: agendaTextDIv;
}

@media (max-width: 580px) {
	.agendaItem {
		gap: 20px;
	}
}
