.timerBlock {
	display: grid;

	width: 100%;
	padding: 10px 0 20px 0;

	grid-template-columns: repeat(5, 20%);
	justify-items: center;
}

.minimalTimerBlock {
	background: var(--primaryMinimal);
}

.romanceTimerBlock {
	background: var(--primaryRomance);
}

.photoTimerBlock {
	background: var(--primaryPhoto);
}

@media (max-width: 580px) {
	.timerBlock {
		padding-bottom: 10px;
	}
}
