.mapBlock {
	display: grid;

	width: calc(100% - 160px);
	padding: 40px 0;
	gap: 20px;
	justify-items: left;
}

.mapBlock > h1 {
	position: relative;
	z-index: 2;

	overflow: hidden;

	text-align: center;

	color: var(--textDark);
}

.mapMinimal > h1 {
	font-family: var(--fontMinimal1);
	font-weight: 600;
}

.mapRomance > h1 {
	padding: 30px 150px;

	font-family: var(--fontRomance1);
	font-weight: 600;
	justify-self: center;
}

.mapPhoto > h1 {
	font-family: var(--fontPhoto1);
	font-weight: 400;
}

.mapDiv {
	position: relative;
	z-index: 2;

	overflow: hidden;

	width: 100%;
	height: 500px;

	resize: vertical;

	outline: none;

	font-family: var(--fontCommon);
	font-weight: 400;
}

.imageBlock {
	position: absolute;
	z-index: 1;
	top: 0;

	display: grid;
	overflow: hidden;

	width: 12%;
	height: auto;

	opacity: 1;
}

.imageBlock1 {
	left: 0;

	transform: rotate(20deg);
}

.imageBlock2 {
	right: 0;

	transform: rotate(-25deg);
}

.img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;

	user-select: none;
}

@media (max-width: 1024px) {
	.mapBlock {
		width: calc(100% - 120px);
	}

	.mapRomance > h1 {
		padding: 20px 70px;
	}

	.mapDiv {
		height: 300px;
	}

	.imageBlock {
		width: 10%;
		margin-top: 10px;
	}
}

@media (max-width: 580px) {
	.mapBlock {
		width: calc(100% - 40px);
	}

	.mapRomance > h1 {
		padding: 20px 50px;
	}

	.mapDiv {
		height: 200px;
	}
}

@media (max-width: 300px) {
	.mapDiv {
		height: 100px;
	}
}
