.questionsBlock {
	position: relative;

	display: grid;
	overflow: hidden;

	width: calc(100% - 160px);
	margin: 40px 0 0 0;
	gap: 40px;
	justify-items: left;
}

.questionsMinimal > h1 {
	z-index: 2;

	font-family: var(--fontMinimal1);
	font-weight: 600 !important;
}

.questionsRomance > h1 {
	z-index: 2;

	font-family: var(--fontRomance1);
	font-weight: 600 !important;
	justify-self: center;
}

.questionsPhoto > h1 {
	z-index: 2;

	font-family: var(--fontPhoto1);
	font-weight: 400 !important;
}

.questionsList {
	z-index: 2;

	display: grid;

	gap: 20px;
}

.modalBody {
	display: grid;
	align-items: center;

	width: 500px;
	height: 100px;

	border-radius: 20px;
	background: var(--light);
	justify-items: center;
}

.modalBody > input {
	width: 80%;
	height: 30px;
	padding: 3px 10px;

	border-radius: 10px;
	outline: 1px solid var(--dark);

	font-family: var(--fontCommon);
	font-weight: 400;
}

.imageBlock {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;

	display: grid;
	overflow: hidden;

	width: 30%;
	height: fit-content;

	opacity: 0.2;
}

.imageBlockPhoto {
	width: 20%;

	opacity: 0.7;
}

.img {
	width: 100%;
	height: fit-content;
	object-fit: cover;
	object-position: center;

	user-select: none;
}

@media (max-width: 1024px) {
	.questionsBlock {
		width: calc(100% - 120px);
	}

	.imageBlock {
		width: 50%;
	}

	.imageBlockPhoto {
		width: 35%;
	}
}

@media (max-width: 580px) {
	.questionsBlock {
		width: calc(100% - 40px);
		gap: 20px;
	}

	.modalBody {
		width: 250px;
		height: 70px;

		border-radius: 10px;
	}

	.modalBody > input {
		height: 20px;
		padding: 1px 5px;

		border-radius: 5px;
	}

	.imageBlock {
		width: 80%;
	}

	.imageBlockPhoto {
		width: 55%;
	}
}

@media (max-width: 300px) {
	.modalBody {
		width: 200px;
		height: 50px;
	}
}

@media (max-width: 200px) {
	.modalBody {
		width: 100%;
	}
}
