.footer {
	display: grid;
	justify-content: center;

	width: 100%;
	padding: 40px 0;
	justify-items: center;
	gap: 20px;
}

.footerMinimal {
	background: var(--primaryMinimal);
}

.footerRomance {
	background: var(--primaryRomance);
}

.footerPhoto {
	background: var(--primaryPhoto);
}

.footer > h1 {
	color: var(--light);
}

.footerMinimal > h1 {
	font-family: var(--fontMinimal1);
	font-weight: 600;
}

.footerRomance > h1 {
	font-family: var(--fontRomance1);
	font-weight: 600;
}

.footerPhoto > h1 {
	font-family: var(--fontPhoto1);
	font-weight: 400;
}

.byText {
	font-family: var(--fontCommon) !important;
	font-weight: 400 !important;
}

.byText > a {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--white);
}

.byText > a:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.names {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto 1fr;
	gap: 10px;
}

.and {
	font-size: 100px;
}

.footerMinimal > h1 > .and {
	font-family: var(--fontMinimal3) !important;
	font-weight: 400 !important;
}

.footerRomance > h1 > .and {
	font-family: var(--fontRomance3) !important;
	font-weight: 400 !important;
}

.footerPhoto > h1 > .and {
	font-family: var(--fontPhoto3) !important;
	font-weight: 200 !important;
}

@media (min-width: 1024px) {
	.byText > a:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.and {
		font-size: 70px;
	}
}

@media (max-width: 580px) {
	.footer {
		padding: 20px 0;
		gap: 10px;
	}

	.names {
		gap: 5px;
	}

	.and {
		font-size: 45px;
	}
}
