.localeChange {
	z-index: 2;

	width: fit-content;
	height: fit-content;

	cursor: pointer;
	user-select: none;
	transition-duration: 300ms;

	border: none;
	background: none;

	font-size: 24px;
	justify-self: right;
}

.localeChangeMinimal {
	color: var(--primaryMinimal) !important;

	font-family: var(--fontMinimal1);
}

.localeChangeRomance {
	color: var(--primaryRomance) !important;

	font-family: var(--fontRomance1);
}

.localeChangePhoto {
	color: var(--primaryPhoto) !important;

	font-family: var(--fontPhoto1);
}

.localeChange:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.localeChange:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.localeChange {
		font-size: 20px;
	}
}

@media (max-width: 580px) {
	.localeChange {
		font-size: 18px;
	}
}
