.agendaBlock {
    position: relative;
    display: grid;
    overflow: visible;
    width: calc(100% - 160px);
    height: 100%;
    margin-top: 40px;
    gap: 40px;
    justify-items: left;
}

.agendaMinimal > h1 {
	z-index: 2;

	font-family: var(--fontMinimal1);
	font-weight: 600;
}

.agendaRomance > h1 {
	z-index: 2;

	font-family: var(--fontRomance1);
	font-weight: 600;
	justify-self: center;
}

.agendaPhoto > h1 {
	z-index: 2;

	font-family: var(--fontPhoto1);
	font-weight: 400;
}

.agendaList {
	z-index: 2;

	display: grid;

	margin-bottom: 40px;

	gap: 40px;
}

.imageBlock {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: grid;
    overflow: hidden;
    width: 30%;
    height: auto;
    opacity: 0.2;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    user-select: none;
}

@media (max-width: 1024px) {
	.agendaBlock {
		width: calc(100% - 120px);
	}

	.imageBlock {
		width: 35%;
	}
}

@media (max-width: 580px) {
	.agendaBlock {
		width: calc(100% - 40px);
	}

	.imageBlock {
		width: 50%;
	}
}

@media (max-width: 300px) {
	.imageBlock {
		width: 70%;
	}
}
